body {
    background-color: #828288;
}

.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
}

.isDone {
    opacity: 0.4;
}

.activeFilter {
    background-color: chartreuse;
}